<%# Product Creation Modal %>
<div class="modal fade" id="new_product" tabindex="-1" role="dialog" aria-labelledby="newProduct">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a new Product</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@category, @product], remote: true, html: {id: "new-product-form"} do |f| %>
          <%= f.input :name %>
          <%= f.input :price %>
          <%= f.input :quantity %>
          <%= f.submit "Add Product", class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
